.regi-wrapper {
    min-height: 50vh;
    width: 40%;
    margin: 25vh auto;
    /* margin-top: 25vh; */
    border: solid 1px;
    padding: 2rem;
}

.regi-comp {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}