.swipeButton{
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: center;
}

.swipeButton .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}

.swipeButton__left{
    padding: 3vw !important;
    color: #ec5e6f !important;
    margin-right: 20px !important;
}

.swipeButton__right{
    padding: 3vw !important;
    color: #76e2b3 !important;
    margin-left: 20px !important;
}

